# Entornos virtuales
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Variables de entorno / secretos
.env

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores / IDEs
.vscode/
.idea/
